.editor-canvas {
	width: calc(100% - 250px);
	background: #e9eff2 0% 0% no-repeat padding-box;
	position: relative;
}

.grid-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
			to right,
			transparent 24px,
			rgba(0, 0, 0, 0.1) 25px
		),
		linear-gradient(to bottom, transparent 24px, rgba(0, 0, 0, 0.1) 25px);
	background-size: 25px 25px;
}
