@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
	font-family: 'Figtree', sans-serif;
	background-color: #e9eff2;
}

.App {
	height: calc(100vh - 64px);
}
