@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
	font-family: 'Figtree', sans-serif;
	background-color: #e9eff2;
}

.App {
	height: 100vh;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 6px;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
